<div style="text-align:center">
  <h1>Extraction et Script Generator</h1>

  <!-- Formulaire d'upload de fichiers -->
  <input type="file" (change)="onFileChange($event, 'sql')" placeholder="Choisir un fichier SQL">
  <input type="file" (change)="onFileChange($event, 'text')" placeholder="Choisir un fichier TXT">
  <button (click)="onUpload()">Uploader les fichiers</button>

  <!-- Boutons pour interagir avec les fonctionnalités -->
  <button (click)="onAnalyze()">Analyser les fichiers</button>
  <button (click)="onRecycle()">Générer le script de recyclage</button>
  <button (click)="onDownload()">Télécharger le fichier généré</button>
  <button (click)="onDelete()">Supprimer le fichier généré</button>

  <p>{{ responseMessage }}</p>
</div>
